
<div class="row collapse">
  <h3 class="center">Create a playlist</h3>
  <%= form_tag(playlists_path, method: 'post') do %>
    <div class="large-12 columns">
      <%= text_field_tag :playlist, params[:playlist], placeholder: "Enter an artist to begin  (Radiohead, Yelle, Rihanna, Zero 7)", class: "typeahead" %>
    </div>
    <div class="two mobile-one columns">
        <%= label :adventurous, "Adventurous?" %>
        <%= check_box_tag :adventurous, params[:adventurous], false  %>
    </div>
    <div class="two mobile-one columns">
      <%= submit_tag "Create Playlist", class: "button expand postfix playlist-popup", "data-effect" => "mfp-3d-unfold" %>
    </div>
  <% end %>
  <%= render partial: 'genres/media_genre_dropdown' %>
</div>

<%= render partial: 'playlists/camelot_popup' %>
