
  <div class="row collapse">
    <%= form_tag(playlists_path, method: 'post') do %>
      <div class="eight mobile-three columns">
        <%= text_field_tag :playlist, params[:playlist], placeholder: "Enter seed artist to begin" %>
      </div>
      <div class="two mobile-one columns">
        <%= submit_tag "Create Playlist", class: "alert button expand postfix" %>
      </div>
      <div class="two mobile-one columns">
          <%= label :adventurous, "Adventurous" %>
          <%= check_box_tag :adventurous, params[:adventurous], false  %>
      </div>
    <% end %>
  </div>

