
  <div class="row collapse">
    <h3 class="center">Create a playlist</h3>
    <%= form_tag(playlists_path, method: 'post') do %>
      <div class="large-12 columns">
        <%= text_field_tag :playlist, params[:playlist], placeholder: "Enter seed artist to begin", class: "typeahead" %>
      </div>
      <div class="two mobile-one columns">
          <%= label :adventurous, "Adventurous?" %>
          <%= check_box_tag :adventurous, params[:adventurous], false  %>
      </div>
      <div class="two mobile-one columns">
        <%= submit_tag "Create Playlist", class: "button expand postfix playlist-popup", "data-effect" => "mfp-3d-unfold" %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'playlists/camelot_popup' %>



<!-- Camelot Popup -->
<!-- <div id="camelot-popup" class="white-popup mfp-with-anim mfp-hide">
  <ul>
    <p><h2>Playlistior, Activate!</h2></p>
    <p>Now using a Harmonic Mixing algorithm to optimize play order...</p>
    <p>(Note: playlists you create are visible here and in your spotify player)</p>
  </ul>
</div>
 -->
