.row.playlist-show
  .large-5.columns
    %h3.playlist-header
      Inspired by #{@playlist.seed_artist.titleize}
    %small.playlist-attribution built by Playlistior
    %br/
    %iframe.spotify-widget{:src => "<haml_loud"} @playlist.spotify_embed  frameborder="0" allowtransparency="true" width="300" height="380"&gt;
    %br/
    - number_followers = number_of_followers(@playlist)
    - if number_followers > 0
      .number-followers
        = pluralize(number_followers, "Follower")
    - if @playlist.owner?(current_user) || current_user.admin?
      = form_tag(playlists_path, method: 'post') do
        = hidden_field :playlist, params[:playlist], value: @playlist.seed_artist
        = submit_tag "Extend", class: "success button playlist-button extend-popup"
      = link_to 'Delete', playlist_path(@playlist), method: :delete, |
        class: "alert button playlist-button",                       |
        data: { confirm: "Are you sure?" }                           |
    - else
      - if !followed?(@playlist)
        - @follow_destroy_hidden = true
      - elsif followed?(@playlist)
        - @follow_create_hidden = true
        render partial: 'follows/follow_create',           |
        locals: { hidden: =@follow_create_hidden || false } |
      = render partial: 'follows/follow_destroy',           |
        locals: { hidden: @follow_destroy_hidden || false } |
  = javascript_tag do
    window.playlist_api_url = '#{api_v1_playlist_path(@playlist)}';
  .large-7.columns
    %h3.playlist-header This harmonic playlist visualized
    %small.playlist-attribution
      powered by
      %a{:href => "http://www.highcharts.com/"} Highcharts
    #chart-container.highchart
    %ul.button-group.radius.center
      %li
        %a#energy.button.tiny.success{:href => "#"} Energy
      %li
        %a#tempo.button.tiny{:href => "#"} Tempo
      %li
        %a#danceability.button.tiny{:href => "#"} Danceability
      %li
        %a#liveness.button.tiny{:href => "#"} Liveness
= render partial: 'playlists/extend_popup'
= content_for :extra_footer do
  = javascript_include_tag 'charts/charts'
