<div class="row playlist-show">
  <div class="large-5 columns">
    <h3 class="playlist-header">Inspired by <%= @playlist.seed_artist.titleize %></h3>
    <small class="playlist-attribution">built by Playlistior</small>
    <br>

    <iframe class="spotify-widget" src=<%= @playlist.spotify_embed %> frameborder="0" allowtransparency="true" width="300" height="380"></iframe>
    <br>

    <% number_followers = number_of_followers(@playlist) %>
    <% if number_followers > 0 %>
      <div class="number-followers">
        <%= pluralize(number_followers, "Follower") %>
      </div>
    <% end %>

    <% if @playlist.owner?(current_user) || current_user.admin? %>
      <%= form_tag(playlists_path, method: 'post') do %>
        <%= hidden_field :playlist, params[:playlist], value: @playlist.seed_artist %>
        <%= submit_tag "Extend", class: "success button playlist-button extend-popup" %>
      <% end %>
      <%= link_to 'Delete', playlist_path(@playlist), method: :delete,
                                                      class: "alert button playlist-button",
                                                      data: { confirm: "Are you sure?" } %>
    <% elsif !followed?(@playlist) %>
      <%= render partial: 'follows/follow_create' %>
    <% elsif followed?(@playlist) %>
      <%= link_to 'Unfollow', follow_path(@playlist), method: :delete,
                                                      class: "alert button full-playlist-button"%>
    <% end %>
  </div>

  <%= javascript_tag do %>
    window.playlist_api_url = '<%= api_v1_playlist_path(@playlist) %>';
  <% end %>

  <div class="large-7 columns">
    <h3 class="playlist-header">This harmonic playlist visualized</h3>
    <small class="playlist-attribution">powered by <a href="http://www.highcharts.com/">Highcharts</a></small>
    <div class="highchart" id="chart-container"></div>


    <ul class="button-group radius center">
      <li><a href="#" type="radio" id="energy" class="button tiny success">Energy</a></li>
      <li><a href="#" type="radio" id="tempo" class="button tiny">Tempo</a></li>
      <li><a href="#" type="radio" id="danceability" class="button tiny">Danceability</a></li>
      <li><a href="#" type="radio" id="liveness" class="button tiny">Liveness</a></li>
    </ul>
  </div>

</div>

<%= render partial: 'playlists/extend_popup' %>

<%= content_for :extra_footer do %>
  <%= javascript_include_tag 'charts/charts' %>
<% end %>

