<div class="row playlist-show">
  <div class="large-5 columns">
    <h3 class="playlist-header">Inspired by <%= @playlist.seed_artist.titleize %></h3>
    <small class="playlist-attribution">built by Playlistior</small>
    <br>

    <iframe class="spotify-widget" src=<%= @playlist.spotify_embed %> frameborder="0" allowtransparency="true" width="300" height="380"></iframe>
    <br>

    <% number_followers = number_of_followers(@playlist) %>
    <% if number_followers > 0 %>
      <div class="number-followers">
        <%= pluralize(number_followers, "Follower") %>
      </div>
    <% end %>

    <% if @playlist.owner?(current_user) || admin? %>
      <%= form_tag(playlists_path, method: 'post') do %>
        <%= hidden_field :playlist, params[:playlist], value: @playlist.seed_artist %>
        <%= submit_tag "Extend", class: "success button playlist-button extend-popup" %>
      <% end %>
      <%= link_to 'Delete', playlist_path(@playlist), method: :delete,
                                                      class: "alert button playlist-button",
                                                      data: { confirm: "Are you sure?" } %>
      <% if admin? %>
        <br>
        <%= link_to 'Remake', playlist_path(@playlist), method: :put,
                                                        class: "success button full-playlist-button"%>
      <% end %>
    <% elsif !followed?(@playlist) %>
      <%= render partial: 'follows/follow_create' %>
    <% elsif followed?(@playlist) %>
      <%= link_to 'Unfollow', follow_path(@playlist), method: :delete,
                                                      class: "alert button full-playlist-button"%>
    <% end %>
  </div>
  <!-- build playlist api url for highcharts json get -->
  <% playlist_api_url = api_v1_playlist_path(@playlist) + ".jsonp?callback=?" %>
  <%= javascript_tag do %>
    window.playlist_api_url = '<%= j playlist_api_url %>';
  <% end %>

  <div class="large-7 columns">
    <h3 class="playlist-header">This harmonic playlist visualized</h3>
    <small class="playlist-attribution">powered by <a href="http://www.highcharts.com/">Highcharts</a></small>

    <div class="highchart" id="chart-container" style="height: 400px; min-width: 310px; max-width: 600px; margin: 0 0"></div>
  </div>
</div>

<%= render partial: 'playlists/extend_popup' %>

<%= content_for :extra_footer do %>
  <%= javascript_include_tag 'charts/charts' %>
<% end %>

