
<div class="row">
  <div class="large-12 columns">

    Inspired by <%= @playlist.seed_artist.titleize %>
    <br>
    built by Playlistior
    <br>
   <iframe src=<%= @playlist.spotify_embed %> frameborder="0" allowtransparency="true" width="300" height="380"></iframe>
    <% if @playlist.owner?(current_user)  %>
      <%= form_tag(playlists_path, method: 'post') do %>
        <%= hidden_field :playlist, params[:playlist], value: @playlist.seed_artist %>
        <%= submit_tag "Extend", class: "success button" %>
      <% end %>
      <%= link_to 'Delete', playlist_path(@playlist), method: :delete,
                                                      class: "alert button",
                                                      data: { confirm: "Are you sure?" } %>
    <% elsif !followed?(@playlist) %>
      <%= render partial: 'follows/follow_create' %>
    <% elsif followed?(@playlist) %>
      <%= link_to 'Unfollow', follow_path(@playlist), method: :delete,
                                                      class: "success button"%>
    <% end %>
  </div>
</div>
