<!DOCTYPE html>
<html>
<head>
  <title>Playlistior</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar"  data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1 class="playlistior-title"><a href="/">Playlistior</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? -%>
          <li class="signed-in-as"><span>Signed in as <%= current_user.name %></span><img class="user-thumbnail" src="<%= current_user.image_link%>" /></li>
          <li class="divider"></li>

          <li>
            <%= render partial: 'genres/genre_dropdown' %>
          </li>
          <li class="divider"></li>
          <li><%= link_to 'Browse Playlists', playlists_path %></li>
          <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="content row">
    <div class="large-12 columns">

      <%= yield %>

    </div>
  </div>
  <footer class="row">
  <div class="footer large-12 columns"><hr/>
    <div class="row">
      <div class="large-3 columns">
        <ul class="inline-list">
          <li class="left"><em>A Tyler Triggs Production</em></li>
        </ul>
      </div>
      <div class="large-3 columns right attributions">
        <div><strong>Created by</strong> <a href="https://github.com/ttriggs">Tyler Triggs</a></div>
        <div><strong>Powered by</strong> the<a href="http://www.echonest.com/"> Echonest </a>API<br>
        <strong>And by</strong> the<a href="https://developer.spotify.com/"> Spotify </a>API</div>
      </div>

    </div>
  </div>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>

