<!DOCTYPE html>
<html>
<head>
  <title>Playlistior</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar"  data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Playlistior</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? -%>
          <li><%= link_to 'Browse Playlists', playlists_path %></li>
          <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">

    <%= yield %>

    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>

